@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


/* Global Styles */
body {
  font-family: 'Outfit', sans-serif;
  @apply antialiased scroll-smooth;
}


/* Active Link Style */
ul li a.active {
  @apply text-purple-600 font-bold border-b-2 border-purple-600 dark:text-purple-400 dark:border-purple-400;
}

/* Slider Customization */
.my-custom-slider .image-gallery-slide img {
  height: 400px !important;
  object-fit: cover !important;
  border-radius: 1rem;
}