
ul li a.active{
  @apply font-semibold rounded-full border-2 border-white text-white shadow-lg
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }
 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}